# .gitignore for 'green2'
.redcar/*
# .gitignore
config/initializers/site_keys.rb
config/initializers/secret_token.rb
config/database.yml
config/config.yml
config/environment.rb
*.kpf
/log/*.log
/tmp/*
/
# Gemfile
# Gemfile.lock
# /db/schema.rb
