

<br /><br />


<div class="main-content">
<img src="/images/got_sidewalks_2.jpg" alt="Got Sidewalks" />
<br />
<br />
<p>The purpose of the <b>Greenwood Streetscapes</b> project is to make it easier for people to work together to design and build improvements to their neighborhood. The project includes:</p>
		<ul>
				
				<li>Creating a user-friendly
            <a href="http://<%=APP_CONFIG['WIKI_URL']%>">Guide</a>
						to the complex process of designing and constructing improvements to the public right-of-way.

			
							<li>Neighborhood organizing</li>
							<li>Planning, designing, engineering, funding, building and maintaining sidewalks</li>
							<li>Both traditional solutions and attractive alternatives</li>
			
				</li>
				<li>An exploration into a one-stop entity (agency or organization) to facilitate projects in Greenwood</li>
		</ul>





<br />
<br /><br />
<br /><br />
<br /><br />
<br /><br />
<br /><br />
<br /><br />
<br /><br />
<br /><br />
<br /><br />
<br /><br />
<br />


</div>