
<%= link_to "This could show random pages from the GS Guide" ,{},  { :class => 'to_do', :title => 'always changing' } %>
<br /><br />


<div class="main-content">
<img src="/images/got_sidewalks_2.jpg" alt="Got Sidewalks" />
<br />
<br />
<p>The purpose of the <b>Greenwood Streetscapes</b> project is to make it easier for people to work together to <span class='strike'>get sidewalks </span> <span class='to_do'>design and build improvements to their neighborhood </span>in Greenwood. The project includes:</p>
		<ul>
				
				<li>Creating a user-friendly web-based guide 
				     <span class='strike'>to sidewalk-related street improvements</span>
						 <span class='to_do'>for designing and constructing improvements to the public right-of-way.</span>

			
							<li>Neighborhood organizing</li>
							<li>Planning, designing, engineering, funding, building and maintaining sidewalks</li>
							<li>Both traditional solutions and attractive alternatives</li>
			
				</li>
				<li>An exploration into a one-stop entity (agency or organization) to facilitate <span class='strike'>sidewalks </span> projects in Greenwood</li>
		</ul>



</div>
<div>
			<br /> <br />
<table border=0 style="background-color: #fff; padding: 5px;" cellspacing=0>
  <tr><td>

  <img src="http://groups.google.com/intl/en/images/logos/groups_logo_sm.gif"
         height=30 width=140 alt="Google Groups">
  </td></tr>
  <tr><td style="padding-left: 5px">
  <b>Subscribe to Greenwood Streetscapes</b>
  </td></tr>
  <form action="http://groups.google.com/group/greenwoodstreetscapes/boxsubscribe">
  <tr><td style="padding-left: 5px;">
  Email: <input type=text name=email>

  <input type=submit name="sub" value="Subscribe">
  </td></tr>
</form>
<tr><td align=right>
  <a href="http://groups.google.com/group/greenwoodstreetscapes">Visit this group</a>
</td></tr>
</table>
</div>


