
<div class="main-content">
<img src="/images/got_sidewalks_2.jpg" alt="Got Sidewalks" />

<p>The purpose of the <b>Greenwood Streetscapes</b> project is to make it easier for people to work together
   to design and build improvements to their neighborhood. The project includes:</p>
  <ul>			
    <li>Creating a user-friendly <%= link_to 'guide', '/wiki' %> to the complex process of designing and building improvements to the public right-of-way.
    <li>Neighborhood organizing</li>
    <li>Planning, designing, engineering, funding, building and maintaining sidewalks, planted areas, drainage ways and parking areas.</li>
    <li>Exploring both traditional solutions and attractive alternatives.</li>
    <li>An exploration into a one-stop entity (agency or organization) to facilitate projects in Greenwood</li>
  </ul>

</div> <!-- .main-content -->
