

<div class="top_padding">
  <h2>&nbsp;&nbsp;<b> May 18th open house: how to make Greenwood more walkable </b></h2>
  <div >&nbsp;</div>
  
  <div class="left_padding"><font face="Arial" size="3"><b>got sidewalks? </b></font></div>
  
  <div class="left_padding">
     <p> </p>
     <p><font face="Arial" size="3">If you live north of 85<sup>th</sup> Street in Greenwood, your street probably has no sidewalks. <b>Greenwood Streetscapes</b> is exploring ways to build sidewalks and streetscapes to connect the neighborhood.</font></p>
     <p>&nbsp;</p>
     <p><font face="Arial" size="3">The project invites the community to an open house on Tuesday, May 18, at the Greenwood Public Library, 8016 Greenwood Avenue N, Seattle. Drop in when you can anytime from <b>6:15 to 9:00 pm</b>.
                 The event is kid-friendly.&nbsp;</font><b>&nbsp;</b></p>
  </div>
  <p><b>&nbsp;</b><br></p>
  <p></p>
  <h3>&nbsp;&nbsp;Open house activities</h3>
  
<div class="left_padding">
  <ul><li><font color="#000000"><font face="Arial" size="3">Enjoy snacks and beverages</font></font></li>
  <li><font color="#000000"><font face="Arial" size="3">Talk with your neighbors about walkable blocks&nbsp;</font></font></li>
  <li><font face="Arial"><font color="#000000"><font size="3">M</font></font><font color="#000000"><font size="3">ake video impressions and photo collages</font></font></font></li>
  <li><font color="#000000"><font face="Arial" size="3">Check out neighborhood stories and maps</font></font></li>
  <li><font color="#000000"><font size="3"><font face="Arial">Cut and paste your own streetscape</font></font></font></li></ul>
  <br>
</div>

  <h3>&nbsp;&nbsp;What we are doing </h3>
  
<div class="left_padding">
  <p class="left_padding"><font face="Arial" size="3">This community-driven project will create a user-friendly web guide. The guide will provide design and funding tools so that Greenwood neighbors can carry out streetscape solutions on their own blocks. A few pilot blocks that are interested in adding sidewalks will receive schematic design.</font></p>
  <br>
  </div>
  <h3>&nbsp;&nbsp;For more information</h3>

<div class="left_padding">
  <p><font face="Arial" size="3">Call Jim Jackson, 206-617-3970, jajackson63@gmail.com or Kate Martin, 206-579-3703, katemartin@comcast.net. </font></p>
  <br>
  <br>
</div>    
</div>

 