<h1>Editing neighbor_survey</h1>

<% form_for(@neighbor_survey) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @neighbor_survey %> |
<%= link_to 'Back', neighbor_surveys_path %>