<h1>Listing neighbor_surveys</h1>

<table>
  <tr>
  </tr>

<% @neighbor_surveys.each do |neighbor_survey| %>
  <tr>
    <td><%= link_to 'Show', neighbor_survey %></td>
    <td><%= link_to 'Edit', edit_neighbor_survey_path(neighbor_survey) %></td>
    <td><%= link_to 'Destroy', neighbor_survey, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New neighbor_survey', new_neighbor_survey_path %>