<h2>Administrative Functions:</h2>
<br /><br />

<%= link_to "List All Neighbors", :controller => 'neighbors' %>
<br /><br />


<%= link_to "List Neighbors by Block ID", neighbors_path + "/half_block_id/385 482 149/"%>


<%= text_field_tag 'enter half block ids '%>
<br /><br />

<%= link_to "copy/paste email recipient list" ,{},  { :class => 'to_do', :title => 'user will select one or more recipients from the database either manually, by half_block_id, by interest, etc.' } %>
<br /><br />



<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br />

