<!-- /////////  begin draw_controls ////////////////////////////////////////////////// -->   
        <div class='map_draw_controls'>
          <ul id="controlToggle">
            <li class='border_top_thin'>
              <input type="radio" name="type" value="none" id="noneToggle"
              onclick="toggleControl(this);" checked="checked" />
              <label for="noneToggle">navigate</label>
            </li>
            <li>
              <input type="radio" name="type" value="line" id="lineToggle" onclick="toggleControl(this);" />
              <label for="lineToggle">draw a line<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;end: dbl-clck</label>
            </li>
            <li>
              <input type="radio" name="type" value="modify" id="modifyToggle" onclick="toggleControl(this);"  />
              <label for="modifyToggle" >modify a line</label>
            </li>
            <li>
              <input type="radio" name="type" value="select" id="selectToggle" onclick="toggleControl(this);" />
              <label for="selectToggle">delete a line</label>
            </li>
          </ul>
          <%= button_to "revert", @theme_map, class: "nav_link", id: "revert_geo_db", remote: true  %>
          <%= button_to "save", @theme_map, class: "nav_link", id: "update_geo_db", remote: true  %>
          <div style="height: 30px; width: 90px;">
            <div id="indicator" style="display: none; height: 20px; text-align: center;" >Edits Saved</div>
          </div>
          <%= button_to "help", @theme_map, class: "nav_link", id: "help", remote: true %>
        </div>

        <!--  end draw_controls ////////////////////////////////////////////////////////////////////////// -->

