<h2>How to get Sidewalks on your Block</h2>


 
<b>Here&apos;s a little-known fact:</b> Three percent of the sidewalks in Seattle have historically been paid for by city funds.

It might take a hundred years to get a sidewalk on your block. Here&apos;s how it works:
<ul>
  <li>The city funds one block per district per year through the street fund. </li>

<li>The city funds one block per district per year through the Bridging the Gap fund.</li>

<li>This means Greenwood receives funding for two blocks per year.</li>

<li>There are about 200 blocks (40 miles) in the Greenwood district that need sidewalks.</li>
</ul>

If you apply for city funds, will your block win the lottery?<br /><br />

<h3>There is another way!</h3> 

<b>Greenwood Streetscapes</b> can help you get sidewalks on your block. Here&apos;s how:<br />
<ul>
  <li>Step 1. Contact Jim Jackson, chair of Greenwood Sidewalks, at 206-617-3970 or jajackson63@gmail.com. He can answer questions and connect you with people who can help.</li>
 
  <li>Step 2. Volunteer to be block organizer. This makes you the conduit for information from Greenwood Streetscapes and others to your neighbors.</li>
 
  <li>Step 3. Talk to your neighbors to gauge their interest in adding sidewalks. Depending on how many are interested, there are a few options. See step 5.</li>
 
  <li>Step 4. Get a schematic design for your block. You can get a volunteer professional to draw the design through Greenwood Streetscapes. The schematic design will show where the sidewalk will be placed and the sidewalk material (concrete or some other material). It could also include plantings, rain gardens or other amenities.</li>
 
  <li>Step 5. Explore funding options.</li>
  <ul>
  <li>    Option A. If at least 60% of the people living on the block are interested, you could apply to become a local improvement district. This will enable your block to set up a payment plan through your property taxes.</li>
 
  <li>    Option B. If all the block residents are interested in moving forward, you can pay for the sidewalk as it is designed and built. Greenwood Streetscapes could help you set up a legal structure to share costs, such as a limited liability corporation (LLC).</li>
 
  <li>    Option C. If it&apos;s just you, and perhaps two or three neighbors, you could use your own money make some improvements to a section of the block.</li>
  </ul>
  <li>Step 6. Get a final design for your block. [more details to come]</li>
 
  <li>Step 7. Work with contractors and the city to get permits and build the sidewalk. [more details to come]</li>
 
  <li>Step 8. Celebrate! Hold a block party and dance in the streets.</li>
</ul>

