<h2>FAQ&#39;s</h2>


<h3>Why doesn&#39;t Greenwood have sidewalks?</h3>

 
It seems that sidewalks weren&#39;t part of the deal when Greenwood was annexed to the city. Read more about the history <a href='http://www.seattlepi.com/transportation/419694_gettingthere10.html?source=rss'>here</a> and <a href='http://www.seattlepi.com/transportation/420811_gettingthere31.html'>here.</a>

 

<h3>How do I get sidewalks on my block?</h3>

 
Greenwood Streetscapes can help you get sidewalks on your block. <%= link_to '  Read about it here', :action => 'how_to' %>