

<div>&nbsp;</div>
<div>&nbsp;</div>
<h2>&nbsp;&nbsp;About Us </h2>
<div>&nbsp;</div>
<h3>&nbsp;&nbsp; <b><font>Vision Statement</font></b></h3>
<p class="left_padding"><font>We envision a Greenwood neighborhood that is walkable, livable, connected, sustainable and builds community vitality.</font></p>
<div>&nbsp;</div>
<h3>&nbsp;&nbsp;<font size="3"><b>Mission Statement</b> </font></h3>
<p class="left_padding"><font size="3">Engage and inspire people in Greenwood to plan, design and build an attractive, walkable community with streetscapes that connect people and places to built and natural systems.</font></p>
<div>&nbsp;</div>
<h3><font size="3"><b>&nbsp;&nbsp;Project Goals</b></font></h3>
<blockquote style="margin-right: 0px;">
<ul><li>
<div>Use a community-based process that engages a wide cross-section of Greenwood residents and businesses.</div><br/>
</li>
<li>
<div>Establish strong partnerships with government and community organizations to support the project.</div><br/>
</li>
<li>
<div>Identify up to six sidewalk/streetscape Pilot Projects and develop schematic designs for them. </div><br/>
</li>
<li>
<div>Create a user-friendly web-based guide that enables people to carry out streetscape solutions for their blocks.</div><br/>
</li>
<li>
<div>Create a model walkable Greenwood project for other neighborhoods to adapt and replicate.
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
</div>
</li></ul>
</blockquote>
<blockquote style="margin-right: 0px;">
<p class="MsoListParagraph" style="margin: 0in 0in 10pt 0.5in;">&nbsp;</p>
</blockquote>
<p class="MsoListParagraph" style="margin: 0in 0in 10pt 0.5in;">&nbsp;</p>
<br>