  <h3>&nbsp;&nbsp;For more information</h3>

<div class="left_padding">
  <p><font face="Arial" size="3">Call <b>Jim Jackson</b>, 206-617-3970, jajackson63@gmail.com<br/><br/> or<br/><br/> <b>Kate 
Martin</b>, 
206-579-3703, 
katemartin@comcast.net. </font></p>
  <br>
  <br>
</div>    
