.layer-switcher button {
   background-image: url( "layers_icon.png");
}

.my-map-controls { 
   td {
      padding-left:10px;
    }
}

  .ol-scale-line {
    background: black;
    padding: 5px;
  }


