
$body_bg:    #ccd0ff;         $sidebar_bg: transparent;
$banner_bg:  #aaafcc;
$content_bg: #f4f3da; /* #f2fada; */
$thick_border: 1px solid #334;
$thin_border: 1px solid #334;
$map_draw_border: 2px solid $body_bg - #222222;
$banner_text: #def;
$body_text:   #224;
$container_bg: $body_bg;
$alert_color: #f54;
$sidebar_width: 140px;
$sidebar_text: #666674;
$sidebar_hover: #404055;
$sidebar_font_size: small;


img { border: $thin_border;}


body {
  margin:0px;
  margin-top:24px;
  margin-left: 10px;
  margin-bottom: 30px;
  padding:0px;
  border:0px;
  text-align:left;
  font-family:"Trebuchet MS", Arial,sans-serif;
  width:100%;
  border-style: solid;
  background-color: $body_bg;
  font-size: 12px;
  color: $body_text;
}
em {
  font-style: italic;
}

h1 {
 color: #6f9f9e;
 font-weight: normal;
 font-size: 26px;
 font-family: Arial,sans-serif;
 margin: 0px;
 margin-top: 3px;
 margin-bottom: 3px;
 padding: 2px;
}


h2 {
 color: #123;
 margin: 1px;
 font-family: Arial,sans-serif;
 font-weight: lighter;
 font-size: 20px;
 margin-top: 0px;
 margin-bottom: 16px;
}


h3 {
 color: #145;
 font-family: Arial,sans-serif;
 font-size: 16px;
 margin-top: 0px;
}


h4 {
 font-family: Arial,sans-serif;
 font-style: normal;
 background: transparent;
 font-size: 14px;
}


input {
  font-family:Arial,sans-serif;
  font-weight:bold;
  color:#666;
}

p {
  font-size:12px;
}


ul {
  list-style: disc;
  margin-left: 25px;
}


li {
  margin: 0px;
  padding: 0px;
  color: #113;
  font-style: italic;
}


a {
  font-size: $sidebar_font_size;
  &:link {text-decoration:none; font-weight:bold;}  
  &:visited { text-decoration:none; font-weight:bold;} 
  &:hover {text-decoration:none; font-weight:bold;}  
  &:active { text-decoration:none; font-weight:bold;}   
}


form.button-to {
 font-size: 16px;
}


input.btn { 
  font-size: 16px;
 
} 


[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
    padding: 15px;
    margin:15px;
    //background-color: rgba(86, 61, 124, 0.15);
    //background-color: $body_bg;
    //border: 1px solid rgba(86, 61, 124, 0.2);
    border: none;
}

.row {
  margin-top: 0px;
  margin-bottom: 0px;
}


.centered {  
   display:block;
//   margin:auto;
}


$grid_lines_color: fuchsia - #441133;
.pretty-grid {
  table {
    border-bottom:1px solid $grid_lines_color;
    border-left:1px solid $grid_lines_color;
  }
  th { 
        padding-right: 7px;
        //font-weight: bold;
  }

  td {
  	padding:5px;
  	border-top:1px solid $grid_lines_color;
  	border-right:1px solid $grid_lines_color;
        background-color: $body_bg + #111121;
  }
  ul {
  	margin-top:10px;
  	margin-bottom:-10px;
  	margin-left:0;
  	padding-left:1em;
  	}
  li {
  	margin-bottom:10px;
  }
} /* end grid */
    

.ol-attribution {
  max-width: calc(100%-3em);
}


#tags {
  display: none;
}


#map {
  // width: 900px;
  width:95%;
  // height: 530px;
  height: 95%;
  border-right: $thin_border;
  border-bottom: $thin_border; 
  border: $thin_border;
  padding: 5px;
  img { border: none;}
}


.map_draw_controls {
	width: 150px;
}


.border_top_thin {
    border-top: $map_draw_border;
}  


#controlToggle li {
  list-style: none;
  position:relative;
  left:-40px;
  font-size: 12px;
  font-weight: bold;
  border-bottom: $map_draw_border;
  color: $sidebar_text;
  width: $sidebar_width;
  label {
    position: relative;
    top: -3px;
  }
}


.main-content
{
  width: 600px;
  p, ul { margin: 5px;}
}


#banner {
  width:100%;
  margin-left: 0px;
  background: $banner_bg;
  background-repeat: no-repeat;
  padding-top: 5px;
  padding-left: 170px;
  padding-bottom: 8px;
  padding-right: 0px;
  border-bottom: $thick_border;
  border-top: $thick_border;
  font-family:"Trebuchet MS", Arial, Sans-Serif;
  font-size:36px;
  color: #476;
  color: $banner_text;
  text-align: left;
}


.sidebar {
  float: left;
  height: 100%;
  padding: 0px;
  width: $sidebar_width;
  background: $sidebar_bg;
  a {
    font-size: $sidebar_font_size;
    &:link {color: $sidebar_text; text-decoration:none; font-weight:bold;}  
    &:visited {color: $sidebar_text; text-decoration:none; font-weight:bold;} 
    &:hover {color: $sidebar_hover; text-decoration:none; font-weight:bold;}  
    &:active {color: $sidebar_hover; text-decoration:none; font-weight:bold;}   
  }
  .alert_text a {
    color: $alert_color;
    &:link {color: $alert_color;}    
  }
}


.alert_text {
  color: $alert_color;
}


.sidebar .alert_text a {
  color: $alert_color;
  &:link {color: $alert_color;}
} 


#side_menu {
  padding: 0px;
  padding-left:10px;
  padding-top:20px;
  width: $sidebar_width;
  height:100%;
  margin: 0px;
}


#container {
  width: 100%;
  height: 100%;
  background: $container_bg;
  padding: 0px;
  margin: 0px;
}


.content {
  border-left: $thick_border;
  /* border: $thick_border; */

  margin-left: $sidebar_width;
  padding: 0px;
  padding-top: 30px;
  padding-left: 35px;
  padding-right: 120px;
  height: 100%;
  background-color: $content_bg; /* pale, low intensity yellow */
  min-height: 700px;
}

#footer {
  clear:both;
  background: $banner_bg;
}


.left_padding {
   padding-left: 40px;
}

.top_padding {
  padding-top: 40px;
}

.bold {
  font-weight:bold;
}

.center {
  text-align:center;
}

.grey {
  color:#777;
}

.tiny {
  font-size:9px;
}

.medium_size {
  font-size:12px;
}

.list-heading {
  font-size:16px;
  font-weight:bold;
  color:#162;
  padding:20px;
}

/* END:mainlayout */
/* The error box */

.fieldWithErrors {
  padding: 2px;
  background-color: #EEFFEE;
  display: inline;
}

.fieldWithErrors * {
  background-color: red;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* START:notice */
#notice {
  border: 2px solid green;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}
/* END:notice */


/* START:i18n */
.locale {
        float:right;
        padding-top: 0.2em
}
/* END:i18n */







