   <!--  begin draw_controls ////////////////////////////////////////////////// -->   
 <script type='text/javascript'>

  function saveChanges(){
    new Ajax.Request("/theme_maps/<%=@theme_map.name.dashed%>/update_geo_db", {
      parameters: {
        id: '<%=@theme_map.name.dashed%>',
        contentType: 'text/javascript',
        labels: JSON.stringify(geometry_labels),
        geometries: JSON.stringify(geometries)
      },
      onSuccess: function(){
        $("indicator").appear({ from: 0.0, to: 1.0});
        $("indicator").fade({ duration: 5.0 });
         }
      //onFailure: showError
    });
  }
</script> 
  

  <% content_for :map_draw_controls do %>
    <div class='map_draw_controls'>  
      <ul id="controlToggle">
        <li class='border_top_thin'>
          <input type="radio" name="type" value="none" id="noneToggle"
                 onclick="toggleControl(this);" checked="checked" />
          <label for="noneToggle">navigate</label>
        </li>
        <li>
          <input type="radio" name="type" value="line" id="lineToggle" onclick="toggleControl(this);" />
          <label for="lineToggle">draw a line<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;end: dbl-clck</label>
        </li>
        <li>
          <input type="radio" name="type" value="modify" id="modifyToggle"
                 onclick="toggleControl(this);" onchange="update();" />
          <label for="modifyToggle">modify a line</label>
        </li>
        <li>
          <input type="radio" name="type" value="select" id="selectToggle"
                 onclick="toggleControl(this);" onchange="update();" />
          <label for="selectToggle">delete a line</label>
        </li>
      </ul>

      <%= button_to_function "save changes", "saveChanges()", {:style => "margin-left: 5px;"} %>
      <div style="height: 30px;">
        <div id="indicator" style="display: none; height= 20px;" >Edits Saved</div>
      </div>
    </div>
  <% end %>
  
<!--  end draw_controls ////////////////////////////////////////////////// --> 