
<% content_for :navbar_brand do %>
  Theme Maps
<% end -%>
<h3> Interactive Maps</h3>
<% if @interactive_theme_maps %>
  <%= render :partial => 'list_theme_maps', :locals => { :maps => @interactive_theme_maps} %>
<% end %>
<h3> Informational Maps </h3>
  <%= render :partial => 'list_theme_maps', :locals => { :maps => @theme_maps} %>

  <%= link_to 'New theme_map', new_theme_map_path %>


