
<div id='rails_error'></div>
<script> console.log("beginning of show.html.erb"); </script>

<div class="container-fluid">

  <div class="row-fluid">
    <div class="span12">
      <div id="map" class="map"></div>
    </div>
  </div>

  <div class="row-fluid">

    <div class="span12">
      <h4 id="title">Tiled WMS example</h4>
      <p id="shortdesc">Example of a tiled WMS layer.</p>
      <div id="docs">
        <p>See the <a href="wms-tiled.js" target="_blank">wms-tiled.js source</a> to see how this is done.</p>
      </div>
      <div id="tags">wms, tile, tilelayer</div>
    </div>

  </div>

</div>        


<div id="map" class="map"></div>
<h2 id="title"><%= @theme_map.name %> </h2>

<div>
  <%= link_to 'Edit', edit_theme_map_path(@theme_map) %>
</div>
