

		
		<%= javascript_include_tag 'OpenLayers-2.8/OpenLayers' %>  
  
	  <style type="text/css">

    #map {
    width: 850px;
    height: 480px;
    border: 1px solid black;
    padding: 0px;
    margin:0px auto;
    margin-top:30px;
    position:relative;
    }
    </style>


    <script type="text/javascript">
		
        var lat = 1264752.298906;
        var lon= 256913.582215;
        var zoom = 3;
        var map, layer;
        var mapserver_url = "<%= h @mapserver_url %>";
				
        function init(){
            map = new OpenLayers.Map( 'map' );
        
            aerial_layer = new OpenLayers.Layer.WMS( "with aerial",
                 mapserver_url,
                 { layers: 'ortho1,ortho2,zoning2,park,Parcel_Clip,Parcel_Clip_Outline,st_address_Clip',
                   format: 'png24',
                   transparent: 'false'},
                  
                 { maxExtent: new OpenLayers.Bounds(1259300,254000,1269500,262500),
                   scales: [100,200,400,800,1600,3200,6400,12800,25600,51200],
                   units: 'm',
                   projection:new OpenLayers.Projection("epsg:4326"),
                   gutter:0,
                   ratio:1,
                   isBaselayer:true,
                   singleTile:true,
                   }
            );

            no_aerial_layer = new OpenLayers.Layer.WMS( "no aerial",
                 mapserver_url,
                 { layers: 'zoning2,park,Parcel_Clip,Parcel_Clip_Outline,st_address_Clip',
                   format: 'png',
                   transparent: 'false'},
                  
                 { maxExtent: new OpenLayers.Bounds(1259300,254000,1269500,262500),
                   scales: [100,200,400,800,1600,3200,6400,12800,25600,51200],
                   units: 'm',
                   projection:new OpenLayers.Projection("epsg:4326"),
                   gutter:0,
                   ratio:1,
                   isBaselayer:true,
                   singleTile:true,
                   }
            );

            study_corridors_layer = new OpenLayers.Layer.WMS( "Corridor Study Areas",
                 mapserver_url,
                 { layers: 'study_corridors',
                   format: 'png',
                   transparent: 'true'},
                  
                 { maxExtent: new OpenLayers.Bounds(1259300,254000,1269500,262500),
                   scales: [100,200,400,800,1600,3200,6400,12800,25600,51200],
                   units: 'm',
                   projection:new OpenLayers.Projection("epsg:4326"),
                   gutter:0,
                   ratio:1,
                   isBaselayer:false,
                   singleTile:true,
                   visibility:false,
                   opacity:.5
                   }
            );
                        
            study_character_layer = new OpenLayers.Layer.WMS( "Character Study Areas",
                 mapserver_url,
                 { layers: 'study_character',
                   format: 'png',
                   transparent: 'true'},
                  
                 { maxExtent: new OpenLayers.Bounds(1259300,254000,1269500,262500),
                   scales: [100,200,400,800,1600,3200,6400,12800,25600,51200],
                   units: 'm',
                   projection:new OpenLayers.Projection("epsg:4326"),
                   gutter:0,
                   ratio:1,
                   isBaselayer:false,
                   singleTile:true,
                   visibility:false,
                   opacity:.5
                   }
            );

            study_blocks_layer = new OpenLayers.Layer.WMS( "Block Study Areas",
                 mapserver_url,
                 { layers: 'study_blocks',
                   format: 'png',
                   transparent: 'true'},
                  
                 { maxExtent: new OpenLayers.Bounds(1259300,254000,1269500,262500),
                   scales: [100,200,400,800,1600,3200,6400,12800,25600,51200],
                   units: 'm',
                   projection:new OpenLayers.Projection("epsg:4326"),
                   gutter:0,
                   ratio:1,
                   isBaselayer:false,
                   singleTile:true,
                   visibility:false,
                   opacity:.5
                   }
            );

            lt_contour_layer = new OpenLayers.Layer.WMS( "2' Contours (light)",
                 mapserver_url,
                 { layers: 'light_contour',
                   format: 'png',
                   transparent: 'true'},
                  
                 { maxExtent: new OpenLayers.Bounds(1259300,254000,1269500,262500),
                   scales: [100,200,400,800,1600,3200,6400,12800,25600,51200],
                   units: 'm',
                   projection:new OpenLayers.Projection("epsg:4326"),
                   gutter:0,
                   ratio:1,
                   isBaselayer:false,
                   singleTile:true,
                   visibility:false,
                   opacity:.6
                   }
            );
                        

            dk_contour_layer = new OpenLayers.Layer.WMS( "2' Contours (dark)",
                 mapserver_url,
                 { layers: 'dark_contour',
                   format: 'png',
                   transparent: 'true'},
                  
                 { maxExtent: new OpenLayers.Bounds(1259300,254000,1269500,262500),
                   scales: [100,200,400,800,1600,3200,6400,12800,25600,51200],
                   units: 'm',
                   projection:new OpenLayers.Projection("epsg:4326"),
                   gutter:0,
                   ratio:1,
                   isBaselayer:false,
                   singleTile:true,
                   visibility:false,
                   opacity:.7
                   }
            );
            

           poles_layer = new OpenLayers.Layer.WMS( "City Light Poles",
                 mapserver_url,
                 { layers: 'CityLightPoles',
                   format: 'png',
                   transparent: 'true'},
                  
                 { maxExtent: new OpenLayers.Bounds(1259300,254000,1269500,262500),
                   scales: [100,200,400,800,1600,3200,6400,12800,25600,51200],
                   units: 'm',
                   projection:new OpenLayers.Projection("epsg:4326"),
                   gutter:0,
                   ratio:1,
                   isBaselayer:false,
                   singleTile:true,
                   visibility:false
                   }
            );
            
           busstop_layer = new OpenLayers.Layer.WMS( "Bus Stops",
                 mapserver_url,
                 { layers: 'Busstop',
                   format: 'png',
                   transparent: 'true'},
                  
                 { maxExtent: new OpenLayers.Bounds(1259300,254000,1269500,262500),
                   scales: [100,200,400,800,1600,3200,6400,12800,25600,51200],
                   units: 'm',
                   projection:new OpenLayers.Projection("epsg:4326"),
                   gutter:0,
                   ratio:1,
                   isBaselayer:false,
                   singleTile:true,
                   visibility:false
                   }
            );
          
           blockid_layer = new OpenLayers.Layer.WMS( "Half-Block ID",
                 mapserver_url,
                 { layers: 'half_block_id,half_block_color',
                   format: 'png',
                   transparent: 'true'},
                  
                 { maxExtent: new OpenLayers.Bounds(1259300,254000,1269500,262500),
                   scales: [100,200,400,800,1600,3200,6400,12800,25600,51200],
                   units: 'm',
                   projection:new OpenLayers.Projection("epsg:4326"),
                   gutter:0,
                   ratio:1,
                   isBaselayer:false,
                   singleTile:true,
                   visibility:false,
                   opacity:0.8
                   }
            );
        
            busroutes_layer = new OpenLayers.Layer.WMS( "Bus Routes",
                 mapserver_url,
                 { layers: 'BusRoutes',
                   format: 'png',
                   transparent: 'true'},
                  
                 { maxExtent: new OpenLayers.Bounds(1259300,254000,1269500,262500),
                   scales: [100,200,400,800,1600,3200,6400,12800,25600,51200],
                   units: 'm',
                   projection:new OpenLayers.Projection("epsg:4326"),
                   gutter:0,
                   ratio:1,
                   isBaselayer:false,
                   singleTile:true,
                   visibility:false,
                   opacity:0.4
                   }
            );
          
           neighbors_layer = new OpenLayers.Layer.WMS( "Neighbors",
                 mapserver_url,
                 { layers: 'Neighbors',
                   format: 'png',
                   transparent: 'true'},
                  
                 { maxExtent: new OpenLayers.Bounds(1259300,254000,1269500,262500),
                   scales: [100,200,400,800,1600,3200,6400,12800,25600,51200],
                   units: 'm',
                   projection:new OpenLayers.Projection("epsg:4326"),
                   gutter:0,
                   ratio:1,
                   isBaselayer:false,
                   singleTile:true,
                   visibility:false
                 }
            );
                        
           permeability_layer = new OpenLayers.Layer.WMS( "Permeability",
                 mapserver_url,
                 { layers: 'infiltration_p',
                   format: 'png',
                   transparent: 'true'},
                  
                 { maxExtent: new OpenLayers.Bounds(1259300,254000,1269500,262500),
                   scales: [100,200,400,800,1600,3200,6400,12800,25600,51200],
                   units: 'm',
                   projection:new OpenLayers.Projection("epsg:4326"),
                   gutter:0,
                   ratio:1,
                   isBaselayer:false,
                   singleTile:true,
                   visibility:false,
									 opacity:0.5
                 }
            );
					 
            paving_edges_layer = new OpenLayers.Layer.WMS( "Paving Edges",
                 mapserver_url,
                 { layers: 'paving_edges',
                   format: 'png',
                   transparent: 'true'},
                  
                 { maxExtent: new OpenLayers.Bounds(1259300,254000,1269500,262500),
                   scales: [100,200,400,800,1600,3200,6400,12800,25600,51200],
                   units: 'm',
                   projection:new OpenLayers.Projection("epsg:4326"),
                   gutter:0,
                   ratio:1,
                   isBaselayer:false,
                   singleTile:true,
                   visibility:false,
									 opacity:0.7
                 }
            );
						
						
					 
            map.addLayer(no_aerial_layer);
            map.addLayer(aerial_layer);
            map.addLayer(lt_contour_layer);
            map.addLayer(dk_contour_layer);
            map.addLayer(poles_layer);
            map.addLayer(busstop_layer);
            map.addLayer(busroutes_layer);
            map.addLayer(blockid_layer);
						map.addLayer(study_corridors_layer);
						map.addLayer(study_character_layer);
						map.addLayer(study_blocks_layer);
						map.addLayer(permeability_layer);
						map.addLayer(paving_edges_layer);
						

            map.addLayer(neighbors_layer);

            map.zoomToMaxExtent();
						
            map.addControl(new OpenLayers.Control.Scale('scale'));
            map.addControl(new OpenLayers.Control.Permalink('permalink'));
            map.addControl(new OpenLayers.Control.MousePosition());
            map.addControl(new OpenLayers.Control.LayerSwitcher());
        }
				
				window.onload=init;
				
    </script>


  <div id="map">
  </div>
		
	<div id="controls">
		<span id="scale" style="float:left"></span>
		<a href="#" id="permalink" style="float:right">Link</a>
	</div>


