<br />
<h2>Interactive Maps</h2>
<br />
       
<%= link_to 'Map of Greenwood with City GIS Layers', :controller => 'overall_map', :action => 'index' %>

<br /><br />
<%= link_to 'Locations of Interested Neighbors and Block Facilitators', :controller => 'neighbors_map', :action => 'index' %>

<br /><br />
<%= link_to 'Draw your favorite walking paths', :controller => 'walk_surveys', :action => 'new' %>
<br /><br />

<br />
<h2>Precompiled Maps</h2>
<br />
<a href="images/DrainageWastewater_FINAL.jpg"><img src="images/DrainageWastewater_screen.jpg"  ></a>
<br /><br />
<a href="images/Natural_Resources_Final.jpg"><img src="images/Natural_Resources_screen.jpg"  ></a>
<br /><br />
<a href="images/Neighborhood_Infrastructure_Final.jpg"><img src="images/Neighborhood_Infrastructure_screen.jpg"  ></a>
<br /><br />
<a href="images/Transportation_Final.jpg"><img src="images/Transportation_screen.jpg"  ></a>


<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />