<br />
<h2>Greenwood Maps</h2>
<br />
       
<%= link_to 'Map of Greenwood with City GIS Layers', :controller => 'overall_map', :action => 'index' %>

<br /><br />
<%= link_to 'Locations of Interested Neighbors and Block Facilitators', :controller => 'neighbors_map', :action => 'index' %>
<a
href="http://mapserver.<%=APP_CONFIG['BASE_URL']%>/openlayers.neighbor_info_popup.html"> Neighbors & Block Facilitators Map </a>
<br /><br />
<%= link_to 'Draw your favorite walking paths', :controller => 'walk_surveys', :action => 'new' %>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />