    <!-- begin layouts/content - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <div class="container">

     <%= yield %>

    </div><!-- .container ?> -->
    <footer class="footer">
      <div class="container">
        <p class="text-muted"> <a href="http://paulsorey.com" style="font-size: 9px; font-weight: lighter;">paulsorey</a>
        <!-- <a href="http://artpluslogic.com" style="font-size: 9px; font-weight: lighter;">artpluslogic.com</a>  -->
         </p>
       </div><!-- container -->
    </footer>

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=10750427; 
var sc_invisible=1; 
var sc_security="1f2e6550"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="shopify
analytics ecommerce" href="http://statcounter.com/shopify/"
target="_blank"><img class="statcounter"
src="http://c.statcounter.com/10750427/0/1f2e6550/1/"
alt="shopify analytics ecommerce"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->

</body>
</html>
<!-- end layout/content.html.erb  -->
