<!DOCTYPE html>
<html>
<head>
  <script> console.log("head of file"); </script>
  <title>NeighborsMaps</title>
 <%=stylesheet_link_tag "application" %>
 <%=javascript_include_tag "application" %>
 <%=csrf_meta_tags %>


</head>
<!-- end of head.html.erb -->
